* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #49565f;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-primary {
  margin-top: 9rem;
  margin-bottom: 6rem;
  font-family: "Roboto Slab", serif;
  font-size: 8rem;
  text-align: center;
}

.lyric-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  height: 100%;
}

.lyric-paragraph {
  font-size: 2.4rem;
  line-height: 1.6;
  width: 60rem;
}

/* temp */
.typed {
  color: blue;
}
